nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    font-weight: bold;
}

/* changes the color of the links inside the hamburger menu (on mobile) */
.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255, 0.7);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgb(255, 255, 255);
}

.navbar-light .navbar-brand {
    color: #e59500;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: #e59500;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main table {
    text-align: left;
}

.cash {
    font-weight: bold;
}

a {
    color: #e59500;
}

.btn-primary {
    background-color: #e59500;
    font-weight: bold;
    text-transform: uppercase;
    padding: 7px 15px 7px 15px;
}

th, #total {
    color: #e59500;
}

#available-cash {
    color: rgb(229, 149, 0, 0.7);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.registration-list {
    text-align: left;
    font-size: small;
    color: #e59500;
    padding: 10px;
}

.red {
    color: #90be6d;
}

.green {
    color: #f94144;
}