{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post" class="animate__animated animate__fadeIn animate__slow">
        <div class="form-group">
            <input autocomplete="off" class="form-control" type="text" name="symbol"
                placeholder="Enter the stock name here" oninput="this.value = this.value.toUpperCase()" autofocus>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" type="number" min="1" name="shares"
                placeholder="Number of shares">
        </div>
        <button class="btn btn-primary" type="submit">Buy Now</button>
    </form>
{% endblock %}
