{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post" class="animate__animated animate__fadeIn animate__slow">
        <div class="form-group">
            <input autocomplete="off" class="form-control" type="text" name="symbol" placeholder="Enter the stock name here" oninput="this.value = this.value.toUpperCase()" autofocus>
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
{% endblock %}
